//@import 'nib'

/* COLORS */

/* http://colorschemedesigner.com/%233j32Fw0w0w0w0#1k32hp1Wqg0Vh */
keyColorA = #C24100 
keyColorB = #535666
bgColor = #fff

keyColorGrey = #ddd
pictureBgColor = #fff

darkText = #555
lightText = #fff
redText = #d9534f
greenText = #5cb85c


/* Fonts */
mainFont = "Helvetica Neue",Helvetica,Arial,sans-serif



/* CONFIG COLORS */ 

/* General */
clLink = keyColorB

/* Bootstrap */
clNavbar = keyColorA

/* Footer */
clFooterBg = keyColorB